aws_region          = "us-east-1"
stack_name          = "qualys-lambda-scanner"
qualys_pod          = "US2"
qualys_access_token = "your-qualys-access-token-here"
qscanner_layer_zip  = "../../../build/qscanner-layer.zip"
